
*{
    padding: 0;
    margin: 5px;
    padding-left: 5px;
}
.upper{
    display: flex;
    justify-content: space-between;
} 
#image{
    padding: 25px;
}
.link{
    text-decoration-line: none;
}